{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div id="page-header" data-animated="0">
                <h3><span>О нас </span></h3>
                <br />
                <br />
            </div>
        </div>
    </div>

    <!-- About Content -->
    <div class="row">
        Тут со временем будет информация о нас
    </div>
    <!-- About Content -->

{% endblock %}