<!-- Comments -->
<div class="comments-wrap" data-animated="0">
    <h5>8 Comments</h5>
    <ul>
        <li>
            <img src="/img/blog/comments/nophoto.jpg" alt="nophoto"/>
            <div class="comments-inner">
                <div class="comment-author">ShaneFreer <span>58 minutes ago</span></div>
                <p>great post!</p>
                <span style="color:#75b209;"><i class="fa fa-comments"></i> Ответить</span>
            </div>
        </li>
        <li>
            <img src="/img/blog/comments/nophoto.jpg" alt="nophoto"/>
            <div class="comments-inner">
                <div class="comment-author">Collis Ta'eed <span>42 minutes ago</span></div>
                <p>yeah i  really like it too, very useful!</p>
                <span style="color:#75b209;"><i class="fa fa-comments"></i> Ответить</span>
            </div>
        </li>
        <li>
            <img src="/img/blog/comments/nophoto.jpg" alt="nophoto"/>
            <div class="comments-inner">
                <div class="comment-author">jremick <span>22 minutes ago</span></div>
                <p>i found this post very useful too, the comment form <br>works just perfect, keep it up guys :)</p>
                <span style="color:#75b209;"><i class="fa fa-comments"></i> Ответить</span>
            </div>
        </li>
        <li>
            <img src="/img/blog/comments/nophoto.jpg" alt="nophoto"/>
            <div class="comments-inner">
                <div class="comment-author">joshjanssen <span>22 minutes ago</span></div>
                <p>yep, especially when it comes to <br>comment testing</p>
                <span style="color:#75b209;"><i class="fa fa-comments"></i> Ответить</span>
            </div>
        </li>
        <li>
            <img src="/img/blog/comments/nophoto.jpg" alt="nophoto"/>
            <div class="comments-inner">
                <div class="comment-author">stewboon <span>22 minutes ago</span></div>
                <p>nice job!</p>
                <span style="color:#75b209;"><i class="fa fa-comments"></i> Ответить</span>
            </div>
        </li>
        <li>
            <img src="/img/blog/comments/nophoto.jpg" alt="nophoto"/>
            <div class="comments-inner">
                <div class="comment-author">bensmithett <span>42 minutes ago</span></div>
                <p>couldn't be better :D</p>
                <span style="color:#75b209;"><i class="fa fa-comments"></i> Ответить</span>
            </div>
        </li>
        <li>
            <img src="/img/blog/comments/nophoto.jpg" alt="nophoto"/>
            <div class="comments-inner">
                <div class="comment-author">justinfrench <span>48 minutes ago</span></div>
                <p>looks very promising</p>
                <span style="color:#75b209;"><i class="fa fa-comments"></i> Ответить</span>
            </div>
        </li>
    </ul>
</div>