{% extends '::base.html.twig' %}

{% block body %}

    <!--Подумать как лучше вынести хлебные крошки и убрать br )))-->
    <div class="row" data-animated="0">
        <div class="col-md-12">
            <div id="page-header">
                <h3><span>Фотографии</span></h3>
              <br />
              <br />
            </div>
        </div>
    </div>

    <!-- Photo Content -->
    <div class="row">
        <div class="col-md-12">
            <div id="m-portfolio" data-animated="0">
                <div class="row">

                    <div class="col-md-4" data-animated="0">
                        <a class="example-image-link" href="img/photo/big/1.jpg" data-lightbox="example-set"
                           data-title="Картинка 1">
                            <img class="example-image" src="img/photo/small/1.jpg" alt=""/>
                        </a>
                    </div>
                    <div class="col-md-4" data-animated="0">
                        <a class="example-image-link" href="img/photo/big/2.jpg" data-lightbox="example-set"
                           data-title="Картинка 2">
                            <img class="example-image" src="img/photo/small/2.jpg" alt=""/>
                        </a>
                    </div>
                    <div class="col-md-4" data-animated="0">
                        <a class="example-image-link" href="img/photo/big/3.jpg" data-lightbox="example-set"
                           data-title="Картинка 3">
                            <img class="example-image" src="img/photo/small/3.jpg" alt=""/>
                        </a>
                    </div>
                    <div class="col-md-4" data-animated="0">
                        <a class="example-image-link" href="img/photo/big/4.jpg" data-lightbox="example-set"
                           data-title="Картинка 4">
                            <img class="example-image" src="img/photo/small/4.jpg" alt=""/>
                        </a>
                    </div>
                    <div class="col-md-4" data-animated="0">
                        <a class="example-image-link" href="img/photo/big/5.jpg" data-lightbox="example-set"
                           data-title="Картинка 5">
                            <img class="example-image" src="img/photo/small/5.jpg" alt=""/>
                        </a>
                    </div>
                    <div class="col-md-4" data-animated="0">
                        <a class="example-image-link" href="img/photo/big/6.jpg" data-lightbox="example-set"
                           data-title="Картинка 6">
                            <img class="example-image" src="img/photo/small/6.jpg" alt=""/>
                        </a>
                    </div>
                    <div class="col-md-4" data-animated="0">
                        <a class="example-image-link" href="img/photo/big/7.jpg" data-lightbox="example-set"
                           data-title="Картинка 7">
                            <img class="example-image" src="img/photo/small/7.jpg" alt=""/>
                        </a>
                    </div>
                    <div class="col-md-4" data-animated="0">
                        <a class="example-image-link" href="img/photo/big/8.jpg" data-lightbox="example-set"
                           data-title="Картинка 8">
                            <img class="example-image" src="img/photo/small/8.jpg" alt=""/>
                        </a>
                    </div>
                    <div class="col-md-4" data-animated="0">
                        <a class="example-image-link" href="img/photo/big/9.jpg" data-lightbox="example-set"
                           data-title="Картинка 9">
                            <img class="example-image" src="img/photo/small/9.jpg" alt=""/>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Photo Content -->
{% endblock %}